@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w panelu administracyjnym</h1>
</div>
</br>
<div class="grid text-center">
    <button class="btn btn-success g-col-4">Przegladaj Klientow</button>
    <button class="btn btn-success g-col-4">Przegladaj Samochody</button>
    <button class="btn btn-success g-col-4">Samochody Wypozyczone</button>
</div>